body {
	height: 100%;
	width: 100%;
	background-image: url("../img/body.jpg");
}

.main-div {
	height: 1000px;
	width: 1800px;
}

.a {
	height: 5%;
	background-color: #f14e32;
}

.b {
	height: 15%;
}

.c {
	height: 63%;
}

.d {
	height: 15%;
}

.e {
	height: 2%;
	background-color: #f14e32;
}

.limiter {
	height: 100%;
}

.limiter-w {
	width: 100%;
}

.top-circle {
	width: 40%;
	align-self: center;
	margin-top: -65px;
}

.iframe {
	height: 100%;
	width: 100%;
	border: 0;
}

.w-top {
	height: 15%;
}

.w-mid {
	height: 70%;
}

.w-bot {
	height: 15%;
}

.w-div {
	height: 600px;
	width: 1600px;
}

.d-top {
	height: 60%;
}

.d-bot{
	height: 36%;
}

.box {
	background-color: #f14e32;
	padding: 5px 5px 5px 5px;
}

.d-box {
	margin-top: 3%;
}

a:link {
	background-color: #ffffff;
}

.orange {
	background-color: #f14e32;
}

.white {
	background-color: #ffffff;
}

.info-box {
	margin-top: 10%;
	height: 80%;
}

table {
	background-color: #ffffff;
}

.githelper {
	margin-top: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
}

.codecat {
	margin-top: -75px;
	width: 40%;
}

.accordionTitle{
	background: none;
}
.accordionTitle a:link{
	background: none;
}

.img-horizontal {
	float: left;
}

thead {
	font-weight: bold;
	font-style: oblique;
}

.bench tr, tr td{
	border: 1px solid #f14e32;
}

.bench{
	background: none;
}

.bench tr td {
	min-width: 50px;
}

.des-h {
	width: 75%;
}

.des-v {
	width: 35%;
}

.glos {
	width: 10%;
}